<div class="row">
  <aside class="col-sm-4">
    
        <h3><%= @user.name %>のタスク一覧</h3>
      </div>

<ul>
  
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %>: <%= task.content %> &gt; <%= task.status %></li>
  <% end %>
  
</ul>

<%= link_to '新規タスクの投稿', new_task_path %>
      
   
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      
    </ul>
  </div>
</div>